body {
    background: #c0c0d1;
}

.nav-font{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px
}


#info {
    /* padding-bottom: 8rem; */
    margin-top: 48px;
    }


.info-dp {
    display: flex;
}

.info-text {
    font-family: 'Raleway', sans-serif;
    padding-top: 20%;
    padding-bottom: 5%;
}