/* body,
html {
  width: 100%;
  height: 100%;
} */

*{
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
}
  

h4 {
  color: #000;
  font-family: inherit;
  font-size: 13px;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2;
}
  /*--------------------------------------------------------------
  # Hero Section
  --------------------------------------------------------------*/
  #hero {
    width: 100%;
    height: calc(100vh - 40px);
    background: url(../img/hero-bg.png) center bottom no-repeat;
    background-size: 100%;
    position: relative;
    margin-top: 40px;
  }
  
  @media (min-width: 1025px) {
    #hero {
      background-attachment: fixed;
    }
  }
  
  #hero .hero-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }
  
  #hero h1 {
    margin: 0 0 10px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    font-family: "Philosopher", sans-serif;
    color: #77acb7;
  }
  
  @media (max-width: 768px) {
    #hero h1 {
      font-size: 28px;
      line-height: 36px;
    }
  }
  
  #hero h2 {
    color: #777;
    margin-bottom: 30px;
    font-size: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
    }
  }
  
  #hero img {
    max-width: 95%;
    margin-bottom: 30px;
  }
  
  #hero .btn-get-started {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 11px 36px;
    border-radius: 50px;
    transition: 0.5s;
    margin-bottom: 30px;
    border: 2px solid #77acb7;
    background: #fff;
    color: #77acb7;
    text-decoration: none;
  }
  
  #hero .btn-get-started:hover {
    background: #77acb7;
    color: #fff;
  }
  
  #hero .btns a {
    color: #555;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 4px 20px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  @media (max-width: 575px) {
    #hero .btns a {
      margin: 4px 8px;
    }
  }
  
  #hero .btns a:hover {
    color: #77acb7;
  }
 
  #info {
  /* padding-bottom: 8rem; */
  margin-top: 48px;
  }
   .info-bg {
    background-color: rgb(178, 179, 230) !important;
  }
  #parceiros {
    /* padding-bottom: 8rem; */
    margin-top: 48px;
    }
  .parceiros-bg {
  background-color: rgb(202, 202, 211) !important;
  }

  /* #categorias {
    display: inline-block;
    height: 40%;
    width: 40%;
    margin-left: 30%;
  } */
  
  #categorias .feature-block {
    background: #fff none repeat scroll 0 0;
    padding-top: 50px;
    margin-bottom: 30px;
    transition: all 0.5s ease-in-out 0s;
    /* align-items: center; */
  }
  
  #categorias .feature-block:hover {
    box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease-in-out 0s;
  }
  
  #categorias .feature-block h4 {
    margin-bottom: 20px;
  }

  #categorias .feature-block img {
    width: 40%;
  }
  
  #categorias .feature-block p {
    margin-bottom: 20px;
  }



  .footer {
    background: #2a2c30;
    padding-top: 50px;
  }
  
  .footer .footer-logo .navbar-brand {
    color: #fff;
    display: inline-block;
    float: none;
    font-family: "Philosopher", sans-serif;
    font-size: 24px;
    font-weight: 500;
    height: 100%;
    letter-spacing: 0.2em;
    padding-left: 0;
    padding-top: 0;
  }
  
  .footer .footer-logo p {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
  }
  
  .footer .list-menu > h4 {
    color: #fff;
    padding-bottom: 20px;
  }
  
  .footer .list-menu ul li a {
    color: #fff;
    font-size: 12px;
    padding-left: 5px;
    text-decoration: none;
    letter-spacing: 0;
  }
  
  .footer .copyrights {
    background: #fff;
    margin-top: 50px;
    text-align: center;
    padding: 25px;
  }
  
  .footer .copyrights p, .footer .copyrights .credits {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-weight: normal;
    font-size: 14px;
    letter-spacing: 0;
  }
  
  .footer .copyrights p a, .footer .copyrights .credits a {
    letter-spacing: 0;
    color: #71c55d;
  }