body{
    background-color: #9595c5;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

h2 {
        font-family: 'Lato', sans-serif;
}

.nav-font{
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
    font-size: 15px
  }
  
  .padd-page {
    padding-top: 100px;
  }
  
.login {
    padding: 0.75rem 1rem 0;
}

.caixa {
background-color: #c1c1e96c;
width: 80%;
height: 60vh;
margin: 20% 10%;
padding: 1px;
border-radius: 10px;
}



  @media (min-width: 768px) {
    .login {
        padding: 1rem 20% 0;
    }
  }
  
  @media (min-width: 992px) {
    .login {
        padding: 0.5rem 18% 1rem;
        text-align: left;
        
    }

    .h1{
        margin-bottom: 2px;
    }
    
       
    .caixa {
        background-color: #c1c1e96c;
        width: 70%;
        height: 70vh;
        margin: 5% 15%;
        border-radius: 10px;
    }  

    .form-control{
        margin:0;
    }
    .row{
        display: flex;
        flex-direction: row;
    }
    #nome{
        width: 52vw;
    }
    #endereco{
        width: 20vw;
        margin-right:2.5px;
    }
    #cep{
        width: 7vw;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    #estado{
        width: 7vw;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    #cidade{
        width:15vw;
        margin-left: 2.5px;
        
    }
    #telefone{
        width: 15vw;
        margin-right:2.5px;
    }
    #email{
        width: 15vw;
        margin-left: 2.5px;
        margin-right: 2.5px;
    }
    #link{
        width:15vw;
        margin-left: 2.5px;
        
    }
    .btn{
        margin: 0 40% 1rem;
    }
}